body {
  font-size: 18px;
  color: black;
}

/** HEADER **/
#header-nav {
  background-color: blue;
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
}

.navbar-brand {
  padding: 20px;
}
.navbar-brand h1 { /* Restaurant name */
  color: red;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
    background-color: yellow;
    margin-top: 0;
    margin-bottom: 0;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

#nav-list li {
  border: 1px solid black;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


/* END HEADER */


/* HOME PAGE */

#main-content {
  background-color: yellow;
  padding: 0;
}
.start-main {
  background-color: #cccccc;
  padding: 20px;
}
section {
  background-color: green;
  padding: 20px;
}